@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Lato&family=Source+Code+Pro:wght@300;400;600&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #FEF9E4;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.fullscreen {
  height: 100vh;
}

#main-canvas {
  background-image: url("Melo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#terminal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(32,32,32);
  color: #dae5ed;
  border-radius: 1rem;
  font-family: 'Source Code Pro', monospace;
  filter: opacity(88%);
  border-style:double;
  border-width: 1rem;
  border-color: #FFFFFF;
  min-height: 30vh;
  max-height: 90vh;
  overflow-y: auto;
}

#terminal p {
  display: block;
  margin: 0.2rem 0 0 0.2rem;
}

#terminal::-webkit-scrollbar {
  /* ::-webkit-scrollbar addresses the background of the bar itself. It is usually covered by the other elements */
  background-color: black;
  width: 1rem;
}

#terminal::-webkit-scrollbar-button {
  /* ::-webkit-scrollbar-button addresses the directional buttons on the scrollbar */
}

#terminal::-webkit-scrollbar-track {
  /* ::-webkit-scrollbar-track addresses the empty space “below” the progress bar */
}

#terminal::-webkit-scrollbar-track-piece {
  /* ::-webkit-scrollbar-track-piece is the top-most layer of the the progress bar not covered by the draggable scrolling element (thumb) */
}

#terminal::-webkit-scrollbar-thumb {
  /* ::-webkit-scrollbar-thumb addresses the draggable scrolling element that resizes depending on the size of the scrollable element */
  background-color: RGB(0,255,255);
  border: 0.2rem solid black;
  border-radius: 1rem;
}

#terminal::-webkit-scrollbar-corner {
  /* ::-webkit-scrollbar-corner addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet */
}

#terminal::-webkit-resizer{
  /* ::-webkit-resizer addresses the draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements */
}



h1, h2, h3 {
  font-family: 'Comfortaa', cursive;
}
